/*------------------ Default Things -----------------*/
body{
  padding: 0;
  margin: 0;
  font: 1em Arial, Helvetica, sans-serif;
  /* background-color: #3e2723; */
  background-color: white;
  overflow-x: hidden;
  background-image: url("/images/background.png");
  background-size: cover;
 
}

/*------------------ Navbar and Logo -----------------*/

header{
  background-color: #2B2C2D;
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
}
img{
  size: 1em;
  padding: 20px;
  animation: fade-in 2s;
}
header h1{
  flex: 0;
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-left: 2%
}

header h1:hover{
  color: orange;
}

header nav{
  flex: 6;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  height: 100%;
  margin: 0;
  padding-right: 30px;
  gap: 10px;
  font-size: 12px;
  color: #f5f5f7;
}

ul li{
  flex: 0 1 5%;
  text-align: center;
}

li a{
  color: #f5f5f7;
  ;
  text-decoration: none;
  font-size: 1.7em;
}

li a:hover{
  color: white;
}

/*------------------ Container -----------------*/

.container{
  display: grid;
  width: 80%;
  margin: auto;
  color: white;
  min-height: 90vh;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade-in 9s;
}

.container h2{
  font-size: 4.5em;
  margin: 0;
  animation: fade-in 5s;
}


.container p{
  opacity: 0;
  font-size: 1.5em;
  animation: fade-in 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
main section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  max-width: 100wh;
  background-size: cover;
  background-position: center;
}


form {
  /* background-color: rgb(255, 255, 255); */
  padding: 10px;
  /* border-radius: 10px; */
  box-shadow: 1px 1px 8px white;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 20%;
  color: white;
  margin-top: 30px;

  
}

#scores {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid #001489;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: auto;  
}


#hide {
  display: none;
}

/*------------------ Footer -----------------*/
footer{
  color: black;
  opacity: 0;
  animation: fade-in 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

footer p{
  margin: 0;
}

/*------------------ MediaQuery and Animations -----------------*/

@media only screen and (max-width: 1280px) {
  ul li{
      flex: 0 1 7%;
      text-align: center;
  }
}

@keyframes fade-in{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}